<template>
  <div id="app">
    <slider></slider>
  </div>
</template>

<script>
import slider from './components/slider/slider.vue';

export default {
  name: 'app',
  components: {
    slider
  }
}
</script>

<style lang="scss">
  @import './scss/app.scss';
</style>
