*{
  box-sizing: border-box;
}
body{
  margin:0;
  color:#fff;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
h1{
  font-family: 'Montserrat', sans-serif;
}
a{
  color:#fff;
  text-decoration:none;
}
.btn{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  display:inline-block;
  padding:1rem 2rem;
  border-radius: 0.4rem;
  background: #78cf9b;
  border:1px solid transparent;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: all .3s ease;
  &:hover{
    background: transparent;
    border: 1px solid #78cf9b;
    color:#78cf9b;
  }
}
