<template>
  <div id="slider">
    <transition-group :name="slideDirection" tag="ul">
      <li v-for="(slide, index) in slides" v-show="index == visible" :key="slide.id">
        <article>
          <div class="slideContent">
            <h1>{{slide.title}}</h1>
            <p>{{slide.body}}</p>
            <div>
              <a href="#" class="btn">Découvrir</a>
            </div>
          </div>
          <figure>
            <img :src="'https://picsum.photos/1920/1080?image=2'+slide.id" :alt="slide.title" :title="slide.title">
            <figcaption>{{slide.body}}</figcaption>
          </figure>
        </article>
      </li>
    </transition-group>
    <div class="fas fa-angle-left" @click.prevent="previousSlide()"> </div>
    <div class="fas fa-angle-right" @click.prevent="nextSlideManual()"></div>
    <div class="bulles-conteneur">
      <a href='#' v-for="(slide, index) in slides" class="bulle" :class="{active:index == visible}" :key="slide.id" @click.prevent="slideChange(index)"></a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'slider',

  data:function(){
    return {
      visible:0,
      lastIndex:null,
      slides:[],
      autoSlide: null
    }
  },

  methods:{
    slideChange:function(index){
      this.lastIndex=this.visible
      this.visible = index;
    },
    nextSlide(){
      this.lastIndex=this.visible;
      if (this.visible == this.slides.length - 1) {
        this.visible = 0
      } else {
        this.visible++
      }
    },
    nextSlideManual(){
      this.stopSliding()
      this.nextSlide()
    },
    previousSlide(){
      this.stopSliding()
      this.lastIndex=this.visible;
      if (this.visible == 0) {
        this.visible = this.slides.length - 1
      } else {
        this.visible--
      }
    },
    stopSliding(){
      clearInterval(this.autoSlide)
      setTimeout(() => {
        this.startSliding()
      }, 5000);
    },
    startSliding(){
      this.autoSlide = setInterval(() => {
        this.nextSlide()
      }, 5000);
    }
  },

  computed:{
    slideDirection:function(){
      if (this.lastIndex == null) {
        return 'noAnim';
      }
      if (this.visible>this.lastIndex) {
        return 'slideLeft';
      }
      else return 'slideRight';
    }
  },

  async mounted(){
    var resp = await fetch('https://jsonplaceholder.typicode.com/posts');
    var articles = await resp.json()
    this.slides = articles.slice(0, 10)
    this.startSliding()
  },

  destroyed(){
    clearInterval(this.autoSlide)
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
$normal: 1rem;
$big: $normal * 1.5;
#slider{
  font-size: $normal;
  text-align: center;
  position: relative;
  ul{
    margin:0;
    padding:0;
    li{
      width:100%;
      height:100vh;
      list-style: none;
      article{
        height:100%;
        figure{
          margin:0;
          height:100%;
          img{
            //le height de 100% doit remonter jusqu'à la balise qui ouvre le slider!!!!!!
            width:100%;
            height:100%;
            object-fit:cover;
          }
          figcaption{
            display:none;
          }
        }
        .slideContent{
          position:absolute;
          top:50%;
          left:50%;
          width:65%;
          transform: translate(-50%,-50%);
          z-index:1;
          >*:not(:last-child){
            margin:0 0 2rem 0;
          }
          h1{
            font-size: $big;
            letter-spacing: 0.2rem;
            font-weight: 300;
            text-transform: uppercase;
          }
          @media screen and (max-width: 500px) {
            h1 {
              font-size: $big*0.8;
            }
            p {
              display:none;
            }
          }
        }
      }
      &::after{
        //assombrissement des images
        content:'';
        display:block;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }
  .bulles-conteneur{
    position:absolute;
    z-index:2;
    bottom:30px;
    width: 100%;
    text-align: center;
    .bulle{
      display: inline-block;
      margin:0 5px;
      height:20px;
      width:20px;
      border:3px solid #fff;
      border-radius: 30px;
      background:rgba(255, 255, 255, 0.8);
      transition: all .3s ease;
      &.active{
        background:transparent;
      }
    }
  }
  div.fas{
    cursor: pointer;
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    font-size: 5rem;
    &.fa-angle-left{
      left:1rem;
    }
    &.fa-angle-right{
      right:1rem;
    }
  }
}
.fade-enter-active, .fade-leave-active{
  transition:opacity 1s ease;
}

.fade-leave-active{
  position: absolute;
  top:0;
  left:0;
  z-index:1;
}

.fade-enter, .fade-leave-to{
  opacity: 0;
}

.slideLeft-enter-active{
  animation: slideLeftIn .5s;
}

@keyframes slideLeftIn{
  0%{transform:translateX(100%)}
  100%{transform:translateX(0%)}
}

.slideLeft-leave-active{
  animation: slideLeftOut .5s;
  position: absolute;
  top:0;
  left:0;
}

@keyframes slideLeftOut{
  0%{transform:translateX(0%)}
  100%{transform:translateX(-100%)}
}

.slideRight-enter-active{
  animation: slideRightIn .5s;
}

@keyframes slideRightIn{
  0%{transform:translateX(-100%)}
  100%{transform:translateX(0%)}
}

.slideRight-leave-active{
  animation: slideRightOut .5s;
  position: absolute;
  top:0;
  left:0;
}

@keyframes slideRightOut{
  0%{transform:translateX(0%)}
  100%{transform:translateX(100%)}
}

</style>
